SD.ACMA.BusinessLogic/Service References/DNCRServicesRegistration/OnlineRegistrationService74.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Registration" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Registration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="OnlineRegisterRequestArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="FaxNumbers" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganisationName" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PhoneNumbers" nillable="true" type="q2:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlineRegisterRequestArgs" nillable="true" type="tns:OnlineRegisterRequestArgs" />
  <xs:complexType name="OnlineRegistrationRequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasEmailSent" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegistrationRequestID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlineRegistrationRequestResult" nillable="true" type="tns:OnlineRegistrationRequestResult" />
  <xs:complexType name="ConfirmOnlineRegistrationRequestArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivationToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmOnlineRegistrationRequestArgs" nillable="true" type="tns:ConfirmOnlineRegistrationRequestArgs" />
  <xs:complexType name="ConfirmOnlineRegistrationResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccessful" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTokenConsumed" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsTokenExpired" type="xs:boolean" />
      <xs:element minOccurs="0" name="RegisteredNumberCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfirmOnlineRegistrationResult" nillable="true" type="tns:ConfirmOnlineRegistrationResult" />
  <xs:complexType name="CheckOnlineRegisterRequestArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Numbers" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CheckOnlineRegisterRequestArgs" nillable="true" type="tns:CheckOnlineRegisterRequestArgs" />
  <xs:complexType name="OnlineCheckRegistrationRequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="HasEmailSent" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlineCheckRegistrationRequestResult" nillable="true" type="tns:OnlineCheckRegistrationRequestResult" />
</xs:schema>