SD.ACMA.BusinessLogic/Service References/DNCRServicesRegistration/OnlineRegistrationService2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://dncrapp/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dncrapp/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://dncrapp/Imports">
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd2" namespace="http://dncrapp/" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Reference" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Registration" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/Registrations/OnlineRegistrationService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Registration.Bulk" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOnlineRegistrationService_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Register_DncrServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" name="detail" element="q1:DncrServiceFault" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Confirm_InputMessage">
    <wsdl:part name="parameters" element="tns:Confirm" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Confirm_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Confirm_DncrServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" name="detail" element="q2:DncrServiceFault" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Check_InputMessage">
    <wsdl:part name="parameters" element="tns:Check" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Check_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_Check_DncrServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" name="detail" element="q3:DncrServiceFault" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_SubmitBulkRegistrationRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SubmitBulkRegistrationRequest" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_SubmitBulkRegistrationRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitBulkRegistrationRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IOnlineRegistrationService_SubmitBulkRegistrationRequest_DncrServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" name="detail" element="q4:DncrServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IOnlineRegistrationService">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://dncrapp/IOnlineRegistrationService/Register" message="tns:IOnlineRegistrationService_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://dncrapp/IOnlineRegistrationService/RegisterResponse" message="tns:IOnlineRegistrationService_Register_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dncrapp/IOnlineRegistrationService/RegisterDncrServiceFaultFault" name="DncrServiceFaultFault" message="tns:IOnlineRegistrationService_Register_DncrServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Confirm">
      <wsdl:input wsaw:Action="http://dncrapp/IOnlineRegistrationService/Confirm" message="tns:IOnlineRegistrationService_Confirm_InputMessage" />
      <wsdl:output wsaw:Action="http://dncrapp/IOnlineRegistrationService/ConfirmResponse" message="tns:IOnlineRegistrationService_Confirm_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dncrapp/IOnlineRegistrationService/ConfirmDncrServiceFaultFault" name="DncrServiceFaultFault" message="tns:IOnlineRegistrationService_Confirm_DncrServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Check">
      <wsdl:input wsaw:Action="http://dncrapp/IOnlineRegistrationService/Check" message="tns:IOnlineRegistrationService_Check_InputMessage" />
      <wsdl:output wsaw:Action="http://dncrapp/IOnlineRegistrationService/CheckResponse" message="tns:IOnlineRegistrationService_Check_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dncrapp/IOnlineRegistrationService/CheckDncrServiceFaultFault" name="DncrServiceFaultFault" message="tns:IOnlineRegistrationService_Check_DncrServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBulkRegistrationRequest">
      <wsdl:input wsaw:Action="http://dncrapp/IOnlineRegistrationService/SubmitBulkRegistrationRequest" message="tns:IOnlineRegistrationService_SubmitBulkRegistrationRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://dncrapp/IOnlineRegistrationService/SubmitBulkRegistrationRequestResponse" message="tns:IOnlineRegistrationService_SubmitBulkRegistrationRequest_OutputMessage" />
      <wsdl:fault wsaw:Action="http://dncrapp/IOnlineRegistrationService/SubmitBulkRegistrationRequestDncrServiceFaultFault" name="DncrServiceFaultFault" message="tns:IOnlineRegistrationService_SubmitBulkRegistrationRequest_DncrServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>