SD.ACMA.BusinessLogic/Service References/DNCRWashingService/OnlineWashingService71.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OnlineUserContext">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountUserID" type="xs:int" />
      <xs:element minOccurs="0" name="AgentID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OnlineUserContext" nillable="true" type="tns:OnlineUserContext" />
</xs:schema>