SD.ACMA.BusinessLogic/Service References/DNCRAccessSeekerServices/OnlineAccountService87.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Salmat.Dncr.Business.Entities.Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Salmat.Dncr.Services/Services/AccessSeeker/OnlineAccountService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DncrServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationToken" type="ser:guid" />
      <xs:element minOccurs="0" name="ExceptionTypeFullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reasons" nillable="true" type="tns:ArrayOfDncrServiceFaultReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DncrServiceFault" nillable="true" type="tns:DncrServiceFault" />
  <xs:complexType name="ArrayOfDncrServiceFaultReason">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DncrServiceFaultReason" nillable="true" type="tns:DncrServiceFaultReason" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDncrServiceFaultReason" nillable="true" type="tns:ArrayOfDncrServiceFaultReason" />
  <xs:complexType name="DncrServiceFaultReason">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DncrServiceFaultReason" nillable="true" type="tns:DncrServiceFaultReason" />
  <xs:complexType name="GetStateRequestArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="AgentUserId" type="xs:int" />
      <xs:element minOccurs="0" name="countryID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStateRequestArgs" nillable="true" type="tns:GetStateRequestArgs" />
  <xs:complexType name="GetStateRequestResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="States" nillable="true" type="tns:ArrayOfStates" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetStateRequestResult" nillable="true" type="tns:GetStateRequestResult" />
  <xs:complexType name="ArrayOfStates">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="States" nillable="true" type="tns:States" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStates" nillable="true" type="tns:ArrayOfStates" />
  <xs:complexType name="States">
    <xs:sequence>
      <xs:element minOccurs="0" name="StateCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stateID" type="xs:int" />
      <xs:element minOccurs="0" name="stateName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="States" nillable="true" type="tns:States" />
</xs:schema>